body{margin:0;padding:0;text-align:center;font-family:Tahoma, Helvetica, Arial, \5fae\8f6f\96c5\9ed1, \9ed1\4f53;}
#BannerSlider{display:inline-block;margin:50px auto;width:800px;height:400px;border:5px solid #ccc;}